.posts__container {
    max-width: 1340px;
    margin: 0 auto;
    // padding: 0 20px;
    // padding-bottom: 20px;
}
.posts__grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "p1 p1 p2 p3" "p4 p5 p6 p6";
    grid-template-rows: auto auto;
}
.post {
    position: relative;
    overflow: hidden;
    display: grid;
    grid-template-rows: 300px 1fr;

    &:nth-of-type(1){
        grid-area: p1;
    }
    &:nth-of-type(2){
        grid-area: p2;
    }
    &:nth-of-type(3){
        grid-area: p3;
    }
    &:nth-of-type(4){
        grid-area: p4;
    }
    &:nth-of-type(5){
        grid-area: p5;
    }
    &:nth-of-type(6){
        grid-area: p6;
    }
    &-image {
        background-position: 50% 50%;
        background-size: cover;
    }
    &-about {
        position: relative;
        z-index: 2;
        text-align: center;
        display: grid;
        background-color: $color-gray-light;
        padding: 20px;
        h3 {
            align-self: end;
        }
        p {
            align-self: start;
            margin-top: 0;
        }
    }
   
    &:active, &:hover {
        .post-title,
        .post-description {
            color: $color-main;
            transition-duration: 0.5s;
        }
        .post-about {
            background-color: #d5d5d5;
            transition-duration: 0.5s;
        }
        .post-image {
            transform: scale(1.5);
            transition-duration: 0.5s;
        }
    }
}
.posts {
    padding: 100px 0;
    h2 {
        max-width: 1340px;
        margin-left: auto;
        margin-right: auto;
    }
    &__button {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        a {
            display: block;
            min-width: 350px;
        }
    }
}

@include lg-md {
    .posts {
        padding: 80px 20px;
    }
    .posts__grid {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: "p1 p1 p2"
                             "p3 p4 p4"
                             "p5 p5 p6";
    }
}
@include md-sm {
    .posts {
        padding: 60px 20px;
    }
    .posts__grid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: "p1 p2" "p3 p4" "p5 p6";
    }
}
@include sm {
    .posts {
        padding: 60px 20px;
    }
    .posts__grid {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, auto);
        grid-template-areas: "p1" "p2" "p3" "p4" "p5" "p6";
    }
    h2 {
        text-align: center;
    }
    .posts__button .button-dark {
        width: 100%;
        text-align: center;
    }
}