.posts-container {
    max-width: 1300px;
    // min-height: 1120px;
    margin: 0 auto;
    padding: 0 0px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    // grid-template-rows: 1fr 1fr;
    grid-template-areas: "p1 p1 p2 p3" "p4 p5 p6 p6";
    height: 95vh;
}
.post {
    position: relative;
    overflow: hidden;

    &:nth-of-type(1){
        grid-area: p1;
    }
    &:nth-of-type(2){
        grid-area: p2;
    }
    &:nth-of-type(3){
        grid-area: p3;
    }
    &:nth-of-type(4){
        grid-area: p4;
    }
    &:nth-of-type(5){
        grid-area: p5;
    }
    &:nth-of-type(6){
        grid-area: p6;
    }
    &-image {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 45%;
        background-position: 50% 50%;
        background-size: cover;
    }
    &-about {
        position: absolute;
        top: 55%;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;
        display: grid;
        background-color: $color-gray-light;
        
    }
    &-title {
        align-self: end;
        color: $color-gray;
        font-family: $font-header;
        font-size: 18px;
        letter-spacing: 1px;
        
    }
    &-description {
        align-self: start;
        color: $color-gray;
        padding: 0 20px;
        font-size: 1rem;
        margin-top: 0;
        line-height: 1.3em;
    }
    &:active, &:hover {
        .post-title,
        .post-description {
            color: $color-main;
            transition-duration: 0.5s;
        }
        .post-about {
            background-color: #d5d5d5;
            transition-duration: 0.5s;
        }
        .post-image {
            transform: scale(1.5);
            transition-duration: 0.5s;
        }
    }
}
.posts {
    padding: 0 20px;
    &-title {
        max-width: 1300px;
        margin: 100px auto 55px auto;
        padding: 0 0px;
    }
    &-button-container {
        display: flex;
        justify-content: center;
    }
    &-button {
        background-color: #575e73;
        border: 2px solid $color-main;
        padding: 19px 96px 19px 96px;
        letter-spacing: 2.5px;
        margin-top: 20px;
        transition: background-color 0.5s;
        // justify-self: center; 
            &:hover,
            &:active {
                background-color: $color-accent;
            }
    }
}

@include lg-md {
    .posts-container {
        height: 200vh;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "p1 p1 p2"
                             "p3 p4 p4"
                             "p5 p5 p6";
    }
    .posts {
        &-title {
            margin: 80px auto 43px auto;
        }

    }
}
@include md-sm {
    .posts-container {
        height: 180vh;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "p1 p2" "p3 p4" "p5 p6";
    }
    .posts {
        padding: 0 22px;
        &-title {
            margin: 60px auto 30px auto;
        }

    }
}
@include sm {
    .post {
        padding: 0 22px;
    }
    .posts-container {
        height: 250vh;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, auto);
        grid-template-areas: "p1" "p2" "p3" "p4" "p5" "p6";
    }
    .posts-title {
        margin: 60px 0 35px 0;
        font-size: 24px;
        text-align: center;
    }
    .posts-button {
        width: 100%;
        text-align: center;
    }
}