.about {
    margin-top: 40px;
    background-color: $color-gray-light;
    &-title {
        grid-area: ttl;
        margin: 0;
    }
    &-description {
        grid-area: dcr;
        color: $color-gray-dark
    }
    &-image {
        grid-area: img;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            left: -25px;
            top: 30%;
            height: 40%;
            border-right: 1px solid #c5c5c5;
        }
    }
}
.about-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-auto-rows: auto 1fr;
    grid-template-areas: "ttl img" "dcr img";
    grid-gap: 50px;
    max-width: 1300px;
    margin: 0 auto;
    padding: 100px 15px 80px 15px;
}