.form {
    background-color: $color-main;
    padding: 30px 0px;
    &__container {
        max-width: 1340px;
        padding: 0 20px;
        margin: 0 auto;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "txt eml btn";

        input {
            color: $color-light;
            font-size: 17px;
            font-weight: 500;
            letter-spacing: 2.5px;
            background-color: #38405a;
            padding: 20px 20px;
            border: none;
            border: 2px solid transparent;
            border-bottom: 2px solid #4c546b;
            outline: none;
            font-size: 16px;
            width: 100%;
            height: 60px;
            &::placeholder {
                color: #9da1ae;
                font-size: 17px;
                font-weight: 500;
                letter-spacing: 2.5px;
            }
            &:focus,
            &:hover {
                border: 2px solid #5e657a;
                border-bottom: 2px solid white;
                background-color: #4c546b;
                transition-duration: 0.5s;
                &::placeholder {
                    color: white;
                    transition-duration: 0.5s;
                }
            }
        }
        input[type="text"] {
            
        }
        input[type="email"] {
            
            
        }
        button {
            width: 100%;
            height: 60px;
            color: $color-light;
            font-weight: 500;
            border: none;
            border: 2px solid transparent;
            border-bottom: 2px solid #72788a;
            outline: none;
            transition: background-color 0.5s;
            &:hover,
            &:active {
                border: 2px solid $color-light;
            }
        }
    }
    &-item:first-child {
        grid-area: txt;
    }
    &-item:nth-child(2) {
        grid-area: eml;
    }
    &-item:last-child {
        grid-area: btn;
    }
}
@include lg-md {
    .form {
        padding: 20px 0px;
    }
}
@include md-sm {
    .form {
        padding: 20px 0px;
        &__container {
            grid-template-columns: 1fr 1fr;
            grid-template-areas: "txt txt" "eml btn";
        }
    }  
}
@include sm {
    .form {
        padding: 22px 0;
        &__container {
            grid-template-columns: 1fr;
            grid-template-areas: "txt" "eml" "btn";
        }
    }
}