.about {
    margin-top: 40px;
    background-color: $color-gray-light;
    &-title {
        grid-area: ttl;
        margin: 0;
    }
    &-description {
        grid-area: dcr;
        color: $color-gray-dark
    }
    &-image {
        grid-area: img;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            left: -25px;
            top: 30%;
            height: 40%;
            border-right: 1px solid #c5c5c5;
        }
    }
}
.about-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-auto-rows: auto 1fr;
    grid-template-areas: "ttl img" "dcr img";
    grid-gap: 50px;
    max-width: 1300px;
    margin: 0 auto;
    padding: 100px 15px 80px 15px;
}
@include lg-md {
    .about-description p:nth-child(4) {
        display: none;
    }
}
@include md-sm {
    .about-description p:nth-child(3),
    .about-description p:nth-child(4) {
        display: none;
    }
}
@include sm {
    .about-description p:nth-child(4) {
        display: none;
    }
    .about-container {
        grid-auto-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: "ttl" "dcr" "img";
        justify-items: center;
        grid-column-gap: 0;
    }
    .about-title {
        text-align: center;
    }
    .about-image {
        &::before {
            display: none;
        }
    }
}
