.posts__container {
    max-width: 1300px;
    margin: 0 auto;
    padding-bottom: 20px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "p1 p1 p2 p3" "p4 p5 p6 p6";
    height: 95vh;
}
.post {
    position: relative;
    overflow: hidden;

    &:nth-of-type(1){
        grid-area: p1;
    }
    &:nth-of-type(2){
        grid-area: p2;
    }
    &:nth-of-type(3){
        grid-area: p3;
    }
    &:nth-of-type(4){
        grid-area: p4;
    }
    &:nth-of-type(5){
        grid-area: p5;
    }
    &:nth-of-type(6){
        grid-area: p6;
    }
    &-image {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 45%;
        background-position: 50% 50%;
        background-size: cover;
    }
    &-about {
        position: absolute;
        top: 55%;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;
        display: grid;
        background-color: $color-gray-light;
        h3 {
            align-self: end;
        }
        p {
            align-self: start;
            padding: 0 20px;
            margin-top: 0;
        }
    }
   
    &:active, &:hover {
        .post-title,
        .post-description {
            color: $color-main;
            transition-duration: 0.5s;
        }
        .post-about {
            background-color: #d5d5d5;
            transition-duration: 0.5s;
        }
        .post-image {
            transform: scale(1.5);
            transition-duration: 0.5s;
        }
    }
}
.posts {
    padding: 100px 20px;
    &-title {
        max-width: 1300px;
        padding: 0;
    }
    &__button {
        display: flex;
        justify-content: center;
        .button-dark {
            min-width: 350px;
        }
    }
}

@include lg-md {
    .posts {
        padding: 80px 20px;
    }
    .posts__container {
        height: 200vh;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "p1 p1 p2"
                             "p3 p4 p4"
                             "p5 p5 p6";
    }
}
@include md-sm {
    .posts {
        padding: 60px 22px;
    }
    .posts__container {
        height: 180vh;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "p1 p2" "p3 p4" "p5 p6";
    }
}
@include sm {
    .posts {
        padding: 60px 22px;
    }
    .posts__container {
        height: 250vh;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, auto);
        grid-template-areas: "p1" "p2" "p3" "p4" "p5" "p6";
    }
    h2 {
        text-align: center;
    }
    .posts-button {
        width: 100%;
        text-align: center;
    }
}