.footer {
    background-color: $color-main;
    margin-top: 100px;
    &-title {
        padding: 35px 0 70px 0;
        &-top {
            text-align: center;
            color: $color-gray;
            letter-spacing: 5px;
        }
        &-bottom {
            text-align: center;
            color: $color-light;
            font-weight: bold;
            letter-spacing: 1px;
            margin-top: 3px;
        }
    }
}
.socials {
    display: flex;
    justify-content: center;
    padding: 47px 0 26px 0;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        bottom: -5px;
        left: 48%;
        right: 48%;
        border-bottom: 1px solid $color-gray-dark;
    }
}
.social {
    margin: 0 10px;
    color: $color-light;
    .fab {
        font-size: 35px;
    }
    &:hover,
    &:active {
        .fab {
            transition-duration: 0.5s;
            color: $color-accent;
        } 
    }
}

@include lg-md {
    .footer {
        margin-top: 80px;
    }
    .socials::after {
        left: 46%;
        right: 46%;
    }
}
@include md-sm {
    .footer {
        margin-top: 60px;
    }
    .socials {
        padding: 60px 0 26px 0;
    }
    .socials::after {
        left: 45%;
        right: 45%;
    }
}
@include sm {
    .footer {
        margin-top: 60px;
    }
    .socials {
        padding: 55px 0 26px 0;
    }
    .socials::after {
        left: 44%;
        right: 44%;
    }
}