/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
       ========================================================================== */
/**
     * 1. Correct the line height in all browsers.
     * 2. Prevent adjustments of font size after orientation changes in
     *    IE on Windows Phone and in iOS.
     */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
       ========================================================================== */
/**
     * Remove the margin in all browsers (opinionated).
     */
body {
  margin: 0; }

/**
     * Add the correct display in IE 9-.
     */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
     * Correct the font size and margin on `h1` elements within `section` and
     * `article` contexts in Chrome, Firefox, and Safari.
     */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
figcaption,
figure {
  display: block; }

/**
     * Add the correct margin in IE 8.
     */
figure {
  margin: 1em 40px; }

/**
     * 1. Add the correct box sizing in Firefox.
     * 2. Show the overflow in Edge and IE.
     */
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
     * Add the correct display in IE.
     */
main {
  display: block; }

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Links
       ========================================================================== */
/**
     * 1. Remove the gray background on active links in IE 10.
     * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
     */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/* Text-level semantics
       ========================================================================== */
/**
     * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
     * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
     */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  /* 2 */ }

/**
     * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
     */
b,
strong {
  font-weight: inherit; }

/**
     * Add the correct font weight in Chrome, Edge, and Safari.
     */
b,
strong {
  font-weight: bolder; }

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
     * Add the correct font style in Android 4.3-.
     */
dfn {
  font-style: italic; }

/**
     * Add the correct background and color in IE 9-.
     */
mark {
  background-color: #ff0;
  color: #000; }

/**
     * Add the correct font size in all browsers.
     */
small {
  font-size: 80%; }

/**
     * Prevent `sub` and `sup` elements from affecting the line height in
     * all browsers.
     */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
audio,
video {
  display: inline-block; }

/**
     * Add the correct display in iOS 4-7.
     */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
     * Remove the border on images inside links in IE 10-.
     */
img {
  border-style: none; }

/**
     * Hide the overflow in IE.
     */
svg:not(:root) {
  overflow: hidden; }

/* Forms
       ========================================================================== */
/**
     * 1. Change the font styles in all browsers (opinionated).
     * 2. Remove the margin in Firefox and Safari.
     */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
     * Show the overflow in IE.
     */
button {
  overflow: visible; }

/**
     * Remove the inheritance of text transform in Edge, Firefox, and IE.
     * 1. Remove the inheritance of text transform in Firefox.
     */
button,
select {
  /* 1 */
  text-transform: none; }

/**
     * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
     *    controls in Android 4.
     * 2. Correct the inability to style clickable types in iOS and Safari.
     */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  /**
       * Remove the inner border and padding in Firefox.
       */
  /**
       * Restore the focus styles unset by the previous rule.
       */ }
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0; }
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText; }

/**
     * Show the overflow in Edge.
     */
input {
  overflow: visible; }

/**
     * 1. Add the correct box sizing in IE 10-.
     * 2. Remove the padding in IE 10-.
     */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
     * Correct the cursor style of increment and decrement buttons in Chrome.
     */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
     * 1. Correct the odd appearance in Chrome and Safari.
     * 2. Correct the outline style in Safari.
     */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
       * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
       */ }
  [type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

/**
     * 1. Correct the inability to style clickable types in iOS and Safari.
     * 2. Change font properties to `inherit` in Safari.
     */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/**
     * Correct the padding in Firefox.
     */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
     * 1. Correct the text wrapping in Edge and IE.
     * 2. Correct the color inheritance from `fieldset` elements in IE.
     * 3. Remove the padding so developers are not caught out when they zero out
     *    `fieldset` elements in all browsers.
     */
legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */ }

/**
     * 1. Add the correct display in IE 9-.
     * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
     */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
     * Remove the default vertical scrollbar in IE.
     */
textarea {
  overflow: auto; }

/* Interactive
       ========================================================================== */
/*
     * Add the correct display in Edge, IE, and Firefox.
     */
details {
  display: block; }

/*
     * Add the correct display in all browsers.
     */
summary {
  display: list-item; }

/*
     * Add the correct display in IE 9-.
     */
menu {
  display: block; }

/* Scripting
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
canvas {
  display: inline-block; }

/**
     * Add the correct display in IE.
     */
template {
  display: none; }

/* Hidden
       ========================================================================== */
/**
     * Add the correct display in IE 10-.
     */
[hidden] {
  display: none; }

/* ul */
/* xl */
/* lg */
/* md */
/* sm */
/* xs */
/* xx */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-size: cover; }

html {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  line-height: 1.15;
  background-position: 50% 50%; }

a {
  text-decoration: none;
  color: #ffffff; }

ul {
  list-style: none; }

p {
  letter-spacing: 1px;
  color: #637588; }

h1 {
  letter-spacing: 0.08em;
  line-height: 1.2em;
  color: #ffffff;
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  font-size: 3.75rem; }

h2 {
  font-size: 2.5rem;
  font-family: "Roboto Slab", serif;
  letter-spacing: 0.1em;
  color: #2d3651;
  line-height: 1.2em;
  margin-top: 0px;
  margin-bottom: 56px; }

h3 {
  color: #637588;
  font-family: "Roboto Slab", serif;
  letter-spacing: 1px; }

.button-light {
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid #ffffff;
  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s; }
  .button-light:hover, .button-light:active {
    background-color: #d66926; }

.button-dark {
  background-color: #575e73;
  border: 2px solid #2d3651;
  padding: 18px 20px;
  text-align: center;
  letter-spacing: 2.5px;
  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s; }
  .button-dark:hover, .button-dark:active {
    background-color: #d66926; }

@media (max-width: 991px) and (min-width: 768px) {
  h1 {
    font-size: 2.5rem;
    letter-spacing: 3.5px; }
  h2 {
    margin-bottom: 42px;
    font-size: 2rem; } }

@media (max-width: 767px) and (min-width: 576px) {
  h1 {
    font-size: 1.7rem;
    letter-spacing: 4.1px; }
  h2 {
    margin-bottom: 36px;
    font-size: 1.5rem; } }

@media (max-width: 575px) {
  h1 {
    font-size: 1.8rem;
    letter-spacing: 3.5px; }
  h2 {
    margin-bottom: 36px;
    text-align: center;
    font-size: 1.5rem; } }

.header {
  min-height: 100vh;
  position: relative;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-position: 50% 50%; }

.header-overlay {
  background-color: #2d3651;
  opacity: 0.8;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1; }

.header-menu {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
  grid-template-columns: auto 1fr;
  padding: 15px 20px;
  max-width: 1340px;
  margin: 0px auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.header-logo {
  position: relative; }
  .header-logo__link {
    display: block;
    font-size: 1.5rem;
    letter-spacing: 5px;
    padding: 20px 0; }
    .header-logo__link span {
      font-size: inherit;
      border: 3px solid #d53d27;
      padding: 11px 1px 14px 5px;
      margin-right: 5px; }

.header-navbar {
  display: -ms-grid;
  display: grid;
  justify-items: end; }
  .header-navbar__list {
    display: -ms-grid;
    display: grid;
    width: 100%;
    -ms-grid-columns: (auto)[3];
    grid-template-columns: repeat(3, auto);
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
    padding: 0;
    position: relative;
    margin: 0;
    margin-right: -15px; }
  .header-navbar__item a {
    padding: 15px;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 17px;
    letter-spacing: 2px;
    -webkit-transition: color 0.5s;
    -o-transition: color 0.5s;
    transition: color 0.5s;
    font-weight: 400;
    margin: 0 0 0 6px; }
    .header-navbar__item a:hover, .header-navbar__item a:active {
      color: #d66926; }
  .header-navbar__hamburger {
    position: absolute;
    right: 20px;
    top: calc(50% - 15px);
    width: 40px;
    height: 30px;
    cursor: pointer;
    -webkit-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
    @media (min-width: 768px) {
      .header-navbar__hamburger {
        display: none; } }
    .header-navbar__hamburger span {
      position: absolute;
      left: 0;
      display: block;
      width: 100%;
      height: 3px;
      -webkit-transition: 0.25s ease-in-out;
      -o-transition: 0.25s ease-in-out;
      transition: 0.25s ease-in-out;
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
      opacity: 1;
      border-radius: 5px;
      background-color: #ffffff; }
      .header-navbar__hamburger span:nth-of-type(1) {
        top: 0; }
      .header-navbar__hamburger span:nth-of-type(2) {
        top: 12px; }
      .header-navbar__hamburger span:nth-of-type(3) {
        top: 24px; }
    .header-navbar__hamburger.active span:nth-of-type(1) {
      top: 12px;
      -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
      transform: rotate(135deg); }
    .header-navbar__hamburger.active span:nth-of-type(2) {
      left: -40px;
      opacity: 0; }
    .header-navbar__hamburger.active span:nth-of-type(3) {
      top: 12px;
      -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
      transform: rotate(-135deg); }

@media (min-width: 768px) {
  .header-navbar__hamburger {
    display: none; } }

@media (max-width: 767px) {
  .header-navbar__list {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    position: absolute;
    top: 97px;
    right: 0;
    margin: 0 20px;
    padding: 0;
    display: none; }
    .header-navbar__list.active {
      display: -ms-grid;
      display: grid; }
  .header-navbar__item {
    text-align: end; }
    .header-navbar__item a {
      background-color: rgba(68, 89, 110, 0.9); } }

.header-content {
  z-index: 2;
  position: relative;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 20px; }
  .header-content__title {
    text-align: center;
    margin: 0 0 53px; }
  .header-content__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .header-content__button {
    padding: 18px 69px;
    font-size: 1.125rem;
    letter-spacing: 0.1em; }
    .header-content__button:first-of-type {
      margin-right: 20px; }

@media (max-width: 991px) and (min-width: 768px) {
  .header-content__button {
    padding: 15px 50px;
    font-size: 1rem;
    letter-spacing: 0.1em; }
  .header-content__title {
    margin-bottom: 43px; } }

@media (max-width: 767px) and (min-width: 576px) {
  .header-content__button {
    padding: 9px 35px;
    font-size: 1rem;
    letter-spacing: 0.1em; }
  .header-content__title {
    margin-bottom: 33px; } }

@media (max-width: 575px) {
  .header-content__button {
    padding: 9px 39px;
    font-size: 1rem;
    letter-spacing: 0.05em; }
  .header-content__title {
    margin-bottom: 45px; } }

.skills {
  padding: 10px 10px 40px 10px; }
  .skills__container {
    height: 100vh;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 10px 1fr 10px 1fr 10px 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: auto 10px auto 10px auto;
    grid-template-areas: "html html css mrk" "wdsg qa qa cod" "adpt php seo cod";
    grid-gap: 10px;
    padding-bottom: 22px; }

.skill-item {
  position: relative;
  overflow: hidden; }
  .skill-item:nth-of-type(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: html; }
  .skill-item:nth-of-type(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
    grid-area: css; }
  .skill-item:nth-of-type(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 7;
    grid-area: mrk; }
  .skill-item:nth-of-type(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: wdsg; }
  .skill-item:nth-of-type(5) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
    -ms-grid-column-span: 3;
    grid-area: qa; }
  .skill-item:nth-of-type(6) {
    -ms-grid-row: 3;
    -ms-grid-row-span: 3;
    -ms-grid-column: 7;
    grid-area: cod; }
  .skill-item:nth-of-type(7) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: adpt; }
  .skill-item:nth-of-type(8) {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
    grid-area: php; }
  .skill-item:nth-of-type(9) {
    -ms-grid-row: 5;
    -ms-grid-column: 5;
    grid-area: seo; }
  .skill-item__overlay {
    background-color: #2d3651;
    opacity: 0.8;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1; }
  .skill-item__title {
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: #ffffff;
    letter-spacing: 0.1em;
    font-weight: 700;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .skill-item__link {
    position: absolute;
    z-index: 3;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }
  .skill-item__image {
    width: 100%;
    height: 100%;
    background-position: 50% 50%;
    background-size: cover; }
  .skill-item:active .skill-item__title, .skill-item:hover .skill-item__title {
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    color: #d66926;
    font-size: 1.3rem; }
  .skill-item:active .skill-item__image, .skill-item:hover .skill-item__image {
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5); }
  .skill-item:active .skill-item__overlay, .skill-item:hover .skill-item__overlay {
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    opacity: 0.95; }

.skills__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .skills__button .button-dark {
    min-width: 350px; }

@media (max-width: 991px) and (min-width: 768px) {
  .skills__container {
    height: 160vh;
    -ms-grid-columns: 1fr 10px 1fr 10px 1fr;
    grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: auto 10px auto 10px auto 10px auto 10px auto;
    grid-template-areas: "html html css" "mrk wdsg wdsg" "qa qa cod" "adpt php cod" " adpt seo seo"; }
  .skill-item:nth-of-type(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3; }
  .skill-item:nth-of-type(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 5; }
  .skill-item:nth-of-type(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1; }
  .skill-item:nth-of-type(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
    -ms-grid-column-span: 3; }
  .skill-item:nth-of-type(5) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3; }
  .skill-item:nth-of-type(6) {
    -ms-grid-row: 5;
    -ms-grid-row-span: 3;
    -ms-grid-column: 5; }
  .skill-item:nth-of-type(7) {
    -ms-grid-row: 7;
    -ms-grid-row-span: 3;
    -ms-grid-column: 1; }
  .skill-item:nth-of-type(8) {
    -ms-grid-row: 7;
    -ms-grid-column: 3; }
  .skill-item:nth-of-type(9) {
    -ms-grid-row: 9;
    -ms-grid-column: 3;
    -ms-grid-column-span: 3; } }

@media (max-width: 767px) and (min-width: 576px) {
  .skills__container {
    height: 200vh;
    -ms-grid-columns: 1fr 10px 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto 10px auto 10px auto 10px auto 10px auto 10px auto;
    grid-template-areas: "html css" "mrk css" "wdsg wdsg" "qa cod" "qa adpt" "php seo"; }
  .skill-item:nth-of-type(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1; }
  .skill-item:nth-of-type(2) {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    -ms-grid-column: 3; }
  .skill-item:nth-of-type(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1; }
  .skill-item:nth-of-type(4) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3; }
  .skill-item:nth-of-type(5) {
    -ms-grid-row: 7;
    -ms-grid-row-span: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1; }
  .skill-item:nth-of-type(6) {
    -ms-grid-row: 7;
    -ms-grid-row-span: 1;
    -ms-grid-column: 3; }
  .skill-item:nth-of-type(7) {
    -ms-grid-row: 9;
    -ms-grid-row-span: 1;
    -ms-grid-column: 3; }
  .skill-item:nth-of-type(8) {
    -ms-grid-row: 11;
    -ms-grid-column: 1; }
  .skill-item:nth-of-type(9) {
    -ms-grid-row: 11;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1; } }

@media (max-width: 575px) {
  .skills {
    padding: 22px; }
  .skills__container {
    height: 300vh;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto 20px auto 20px auto 20px auto 20px auto 20px auto 20px auto 20px auto 20px auto;
    grid-template-rows: repeat(9, auto);
    grid-template-areas: "html" "css" "mrk" "wdsg" "qa" "cod" "adpt" "php" "seo";
    grid-gap: 0;
    grid-row-gap: 20px; }
  .skills__button .button-grey {
    width: 100%;
    text-align: center; }
  .skill-item:nth-of-type(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1; }
  .skill-item:nth-of-type(2) {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1; }
  .skill-item:nth-of-type(3) {
    -ms-grid-row: 5;
    -ms-grid-column: 1; }
  .skill-item:nth-of-type(4) {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1; }
  .skill-item:nth-of-type(5) {
    -ms-grid-row: 9;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1; }
  .skill-item:nth-of-type(6) {
    -ms-grid-row: 11;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1; }
  .skill-item:nth-of-type(7) {
    -ms-grid-row: 13;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1; }
  .skill-item:nth-of-type(8) {
    -ms-grid-row: 15;
    -ms-grid-column: 1; }
  .skill-item:nth-of-type(9) {
    -ms-grid-row: 17;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1; } }

@media (min-width: 768px) {
  .skill-item__title {
    font-size: 1.25rem; } }

@media (max-width: 767px) {
  .skill-item__title {
    font-size: 1.15rem; } }

.about {
  padding: 100px 20px 80px 20px;
  background-color: #e5e5e5; }
  .about-article {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: artcl; }
  .about-image {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: img;
    position: relative;
    margin-right: 0px;
    display: -ms-grid;
    display: grid;
    justify-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .about-image::before {
      content: "";
      position: absolute;
      left: -28px;
      top: 25%;
      height: 37%;
      border-right: 1px solid #c5c5c5; }
    .about-image img {
      max-height: 480px;
      max-width: 100%; }

.about__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 55px 271px;
  grid-template-columns: auto 271px;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  grid-template-areas: "artcl img";
  grid-column-gap: 55px;
  max-width: 1340px;
  margin: 0 auto; }

@media (min-width: 992px) {
  .about p {
    font-size: 1.125rem; } }

@media (max-width: 991px) and (min-width: 768px) {
  .about-article p:nth-child(4) {
    display: none; }
  .about {
    padding: 85px 20px; } }

@media (max-width: 767px) and (min-width: 576px) {
  .about-article p:nth-child(3),
  .about-article p:nth-child(4) {
    display: none; }
  .about {
    padding: 60px 22px; }
  .about__container {
    grid-row-gap: 10px; }
  .about-image img {
    width: 90%; } }

@media (max-width: 575px) {
  .about {
    padding: 58px 22px; }
  .about-article p:nth-child(4) {
    display: none; }
  .about__container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto 8px auto;
    grid-template-rows: auto auto;
    grid-template-areas: "artcl" "img";
    justify-items: center;
    grid-column-gap: 0;
    grid-row-gap: 8px; }
  .about-article h2 {
    text-align: center; }
  .about-image::before {
    display: none; }
  .about-article {
    -ms-grid-row: 1;
    -ms-grid-column: 1; }
  .about-image {
    -ms-grid-row: 3;
    -ms-grid-column: 1; } }

.form {
  background-color: #2d3651;
  padding: 30px 20px; }
  .form__container {
    max-width: 1340px;
    margin: 0 auto;
    display: -ms-grid;
    display: grid;
    grid-gap: 20px;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "txt eml btn";
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .form__container input {
      color: #ffffff;
      font-size: 17px;
      font-weight: 500;
      letter-spacing: 2.5px;
      background-color: #38405a;
      padding: 20px 30px;
      border: none;
      border: 2px solid transparent;
      border-bottom: 2px solid #4c546b;
      outline: none;
      font-size: 16px; }
      .form__container input::-webkit-input-placeholder {
        color: #9da1ae;
        font-size: 17px;
        font-weight: 500;
        letter-spacing: 2.5px; }
      .form__container input:-ms-input-placeholder {
        color: #9da1ae;
        font-size: 17px;
        font-weight: 500;
        letter-spacing: 2.5px; }
      .form__container input::-ms-input-placeholder {
        color: #9da1ae;
        font-size: 17px;
        font-weight: 500;
        letter-spacing: 2.5px; }
      .form__container input::placeholder {
        color: #9da1ae;
        font-size: 17px;
        font-weight: 500;
        letter-spacing: 2.5px; }
      .form__container input:focus, .form__container input:hover {
        border: 2px solid #5e657a;
        border-bottom: 2px solid white;
        background-color: #4c546b;
        -webkit-transition-duration: 0.5s;
        -o-transition-duration: 0.5s;
        transition-duration: 0.5s; }
        .form__container input:focus::-webkit-input-placeholder, .form__container input:hover::-webkit-input-placeholder {
          color: white;
          -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s; }
        .form__container input:focus:-ms-input-placeholder, .form__container input:hover:-ms-input-placeholder {
          color: white;
          transition-duration: 0.5s; }
        .form__container input:focus::-ms-input-placeholder, .form__container input:hover::-ms-input-placeholder {
          color: white;
          transition-duration: 0.5s; }
        .form__container input:focus::placeholder, .form__container input:hover::placeholder {
          color: white;
          -webkit-transition-duration: 0.5s;
          -o-transition-duration: 0.5s;
          transition-duration: 0.5s; }
    .form__container input[type="text"] {
      -ms-grid-row: 1;
      -ms-grid-column: 1;
      grid-area: txt; }
    .form__container input[type="email"] {
      -ms-grid-row: 1;
      -ms-grid-column: 3;
      grid-area: eml; }
    .form__container button {
      -ms-grid-row: 1;
      -ms-grid-column: 5;
      grid-area: btn;
      color: #ffffff;
      font-weight: 500;
      border: none;
      border: 2px solid transparent;
      border-bottom: 2px solid #72788a;
      outline: none;
      -webkit-transition: background-color 0.5s;
      -o-transition: background-color 0.5s;
      transition: background-color 0.5s; }
      .form__container button:hover, .form__container button:active {
        border: 2px solid #ffffff; }

@media (max-width: 991px) and (min-width: 768px) {
  .form {
    padding: 20px 20px; } }

@media (max-width: 767px) and (min-width: 576px) {
  .form {
    padding: 20px 20px; }
    .form__container {
      -ms-grid-columns: 1fr 20px 1fr;
      grid-template-columns: 1fr 1fr;
      -ms-grid-rows: auto 20px auto;
      grid-template-areas: "txt txt" "eml btn"; }
    .form__container input[type="text"] {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3; }
    .form__container input[type="email"] {
    -ms-grid-row: 3;
    -ms-grid-column: 1; }
    .form__container button {
    -ms-grid-row: 3;
    -ms-grid-column: 3; } }

@media (max-width: 575px) {
  .form {
    padding: 22px; }
    .form__container {
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      -ms-grid-rows: auto 20px auto 20px auto;
      grid-template-areas: "txt" "eml" "btn"; }
    .form__container input[type="text"] {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1; }
    .form__container input[type="email"] {
    -ms-grid-row: 3;
    -ms-grid-column: 1; }
    .form__container button {
    -ms-grid-row: 5;
    -ms-grid-column: 1; } }

.posts__container {
  max-width: 1300px;
  margin: 0 auto;
  padding-bottom: 20px;
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr;
  grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: auto 20px auto;
  grid-template-areas: "p1 p1 p2 p3" "p4 p5 p6 p6";
  height: 95vh; }

.post {
  position: relative;
  overflow: hidden; }
  .post:nth-of-type(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: p1; }
  .post:nth-of-type(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
    grid-area: p2; }
  .post:nth-of-type(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 7;
    grid-area: p3; }
  .post:nth-of-type(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: p4; }
  .post:nth-of-type(5) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
    grid-area: p5; }
  .post:nth-of-type(6) {
    -ms-grid-row: 3;
    -ms-grid-column: 5;
    -ms-grid-column-span: 3;
    grid-area: p6; }
  .post-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 45%;
    background-position: 50% 50%;
    background-size: cover; }
  .post-about {
    position: absolute;
    top: 55%;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    display: -ms-grid;
    display: grid;
    background-color: #e5e5e5; }
    .post-about h3 {
      -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end; }
    .post-about p {
      -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
      padding: 0 20px;
      margin-top: 0; }
  .post:active .post-title,
  .post:active .post-description, .post:hover .post-title,
  .post:hover .post-description {
    color: #2d3651;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s; }
  .post:active .post-about, .post:hover .post-about {
    background-color: #d5d5d5;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s; }
  .post:active .post-image, .post:hover .post-image {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s; }

.posts {
  padding: 100px 20px; }
  .posts-title {
    max-width: 1300px;
    padding: 0; }
  .posts__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .posts__button .button-dark {
      min-width: 350px; }

@media (max-width: 991px) and (min-width: 768px) {
  .posts {
    padding: 80px 20px; }
  .posts__container {
    height: 200vh;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto 20px auto 20px auto;
    grid-template-areas: "p1 p1 p2" "p3 p4 p4" "p5 p5 p6"; }
  .post:nth-of-type(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3; }
  .post:nth-of-type(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 5; }
  .post:nth-of-type(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1; }
  .post:nth-of-type(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
    -ms-grid-column-span: 3; }
  .post:nth-of-type(5) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3; }
  .post:nth-of-type(6) {
    -ms-grid-row: 5;
    -ms-grid-column: 5;
    -ms-grid-column-span: 1; } }

@media (max-width: 767px) and (min-width: 576px) {
  .posts {
    padding: 60px 22px; }
  .posts__container {
    height: 180vh;
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto 20px auto 20px auto;
    grid-template-areas: "p1 p2" "p3 p4" "p5 p6"; }
  .post:nth-of-type(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1; }
  .post:nth-of-type(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3; }
  .post:nth-of-type(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1; }
  .post:nth-of-type(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1; }
  .post:nth-of-type(5) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1; }
  .post:nth-of-type(6) {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1; } }

@media (max-width: 575px) {
  .posts {
    padding: 60px 22px; }
  .posts__container {
    height: 250vh;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto 20px auto 20px auto 20px auto 20px auto 20px auto;
    grid-template-rows: repeat(6, auto);
    grid-template-areas: "p1" "p2" "p3" "p4" "p5" "p6"; }
  h2 {
    text-align: center; }
  .posts-button {
    width: 100%;
    text-align: center; }
  .post:nth-of-type(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1; }
  .post:nth-of-type(2) {
    -ms-grid-row: 3;
    -ms-grid-column: 1; }
  .post:nth-of-type(3) {
    -ms-grid-row: 5;
    -ms-grid-column: 1; }
  .post:nth-of-type(4) {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1; }
  .post:nth-of-type(5) {
    -ms-grid-row: 9;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1; }
  .post:nth-of-type(6) {
    -ms-grid-row: 11;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1; } }

.footer {
  background-color: #2d3651; }
  .footer-title {
    padding: 35px 0 70px 0; }
    .footer-title-top {
      text-align: center;
      color: #637588;
      letter-spacing: 5px; }
    .footer-title-bottom {
      text-align: center;
      color: #ffffff;
      font-weight: bold;
      letter-spacing: 1px;
      margin-top: 3px; }

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 47px 0 26px 0;
  position: relative; }
  .socials::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 48%;
    right: 48%;
    border-bottom: 1px solid #44596e; }

.social {
  margin: 0 10px;
  color: #ffffff; }
  .social .fab {
    font-size: 35px; }
  .social:hover .fab, .social:active .fab {
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    color: #d66926; }

@media (max-width: 991px) and (min-width: 768px) {
  .socials::after {
    left: 46%;
    right: 46%; } }

@media (max-width: 767px) and (min-width: 576px) {
  .socials {
    padding: 60px 0 26px 0; }
  .socials::after {
    left: 45%;
    right: 45%; } }

@media (max-width: 575px) {
  .socials {
    padding: 55px 0 26px 0; }
  .socials::after {
    left: 44%;
    right: 44%; } }
