.header-content {
    z-index: 2;
    position: relative;
    display: grid;
    justify-content: center;
    margin-bottom: -117px;
    margin-left: -2px;
    &__title {
        text-align: center;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 24px;
        color: $color-light;
        font-family: $font-header;
        font-weight: 300;
        letter-spacing: 4.8px;
        font-size: 3.75rem;
    }
    &__buttons {
        display: flex;
        justify-content: center;
        margin-top: 55px;
    }
    &__button {
        margin: 0px 0px 0 20px;
        padding: 18px 75px 18px 61px;
        border: 2px solid $color-light;
        letter-spacing: 2px;
        font-size: 1.1rem;
        background-color: rgba(#ffffff, 0.1);
        transition: background-color 0.5s;
        &:hover,
        &:active {
            background-color: $color-accent;
        }
    }
}

@include lg-md {
    .header-content {
        &__button {
            padding: 15px 50px;
            font-size: 16px;
            letter-spacing: 1.5px;
        }
        &__title {
            font-size: 2.5rem;
            letter-spacing: 3.5px;
        }
        &__buttons {
            margin-top: 42px;
        }
    }
}
@include md-sm {
    .header-content {
        &__button {
            padding: 9px 35px;
            font-size: 16px;
            letter-spacing: 1.5px;
        }
        &__title {
            font-size: 1.7rem;
            letter-spacing: 4.1px;
        }
        &__buttons {
            margin-top: 31px;
        }
    }
}
@include sm {
    .header-content {
        &__button {
            padding: 9px 35px;
            font-size: 16px;
            letter-spacing: 1.5px;
        }
        &__title {
            font-size: 1.8rem;
            letter-spacing: 3.5px;
        }
        &__buttons {
            margin-top: 40px;
        }
    }
}   

