.header-content {
    z-index: 2;
    position: relative;
    display: grid;
    justify-content: center;
    &__title {
        text-align: center;
        margin-top: 0;
        margin-bottom: 65px;
        color: $color-light;
    font-family: $font-header;
    font-weight: 300;
    letter-spacing: 5px;
    font-size: 3.75rem;
    }
    &__buttons {
        display: flex;
        justify-content: center;
    }
    &__button {
        margin: 0px 10px 0 10px;
        padding: 20px 65px;
        border: 2px solid $color-light;
        letter-spacing: 3px;
        background-color: rgba(#ffffff, 0.1);
        transition: background-color 0.5s;
        &:hover,
        &:active {
            background-color: $color-accent;
        }
    }
}

@include lg-md {
    .header-content {
        &__button {
            padding: 15px 40px;
            font-size: 14px;
        }
        &__title {
            font-size: 2.25rem;
        }
    }
}
@include md-sm {
    .header-content {
        &__button {
            padding: 10px 25px;
            font-size: 12px;
        }
        &__title {
            font-size: 1.5rem;
        }
    }
}
@include sm {
    .header-content {
        &__button {
            padding: 10px 25px;
            font-size: 12px;
        }
        &__title {
            font-size: 1.5rem;
        }
    }
}   