.header-navbar {
    &__list {
        display: grid;
        grid-template-columns: repeat(3, auto);
        justify-content: end;
    }
    &__item {
        a {
            font-size: 1.1rem; 
            letter-spacing: 2px;
            padding: 19px;
            transition: color 0.5s;
            &:hover,
            &:active {
                color: $color-accent;
            }
        }
    }

}